WQD7005 Data Mining
Week 7 Online Assessment (8th May 2020)

Yap Hui Hsing, WQD180073 (17039525/2)

Team member: Har Wai San, WQD180025 (17051470/1)

## 0. Import Lib

In [1]:
import pandas as pd
import numpy as np

## 1. Data Exploration
### 1.1 Import the dataset

In [2]:
# Read data from file 'Survey_2016.xlsx' 
df = pd.read_csv('output.(6 May).csv', names=['Date','Sector_Number','Sector_Name','Stock_Code','Stock_Name','Ref','Open','Last','Change','Change_%', 'Volume'])
print(df.shape)

(69682, 11)

In [3]:
# Using .head() method to view the first few records of the data set
df.head()

,Date,Sector_Number,Sector_Name,Stock_Code,Stock_Name,Ref,Open,Last,Change,Change_%,Volume
0,3/13/2020,1,Bursa Malaysia Bond Islamic Stocks,0400GA,DIN040000223,102.20,101.80,101.80,-0.40,-0.39,1
1,3/13/2020,1,Bursa Malaysia Bond Islamic Stocks,0400GC,DIN042300721,101.80,0.00,0.00,0.00,0.00,0
2,3/13/2020,1,Bursa Malaysia Bond Islamic Stocks,0400GB,DIN045801028,104.50,104.50,104.50,0.00,0.00,1
3,3/13/2020,1,Bursa Malaysia Bond Islamic Stocks,0401GA,IHS046000824,99.50,0.00,0.00,0.00,0.00,0
4,3/13/2020,2,Bursa Malaysia Closed End Fund Stocks,5108,ICAP,2.07,2.05,1.99,-0.08,-3.86,917

In [4]:
# using the dtypes() method to display the different datatypes available
df.dtypes

Date              object
Sector_Number      int64
Sector_Name       object
Stock_Code        object
Stock_Name        object
Ref              float64
Open             float64
Last             float64
Change           float64
Change_%         float64
Volume             int64
dtype: object

### 1.2 Descriptive Dataset

In [5]:
# Generate descriptive statistics that summarize of all observed features and labels 
# Numeric columns
df.describe(include=[np.number])

,Sector_Number,Ref,Open,Last,Change,Change_%,Volume
count,69682.000000,69682.000000,69682.000000,69682.000000,69682.000000,69682.000000,6.968200e+04
mean,11.055409,0.958261,0.693096,0.694439,0.000349,1.529059,2.199110e+04
std,5.194647,5.981821,4.273031,4.266857,0.369414,18.927120,1.158542e+05
min,1.000000,0.005000,0.000000,0.000000,-95.410000,-97.560000,0.000000e+00
25%,5.000000,0.025000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,11.000000,0.120000,0.045000,0.050000,0.000000,0.000000,1.760000e+02
75%,16.000000,0.480000,0.350000,0.355000,0.005000,0.590000,5.520000e+03
max,20.000000,141.000000,141.000000,141.000000,4.000000,1400.000000,5.031527e+06

In [6]:
# Object columns
df.describe(include=[np.object])

,Date,Sector_Name,Stock_Code,Stock_Name
count,69682,69682,69682,69682
unique,36,20,2075,2077
top,3/13/2020,Bursa Malaysia Industrial Products & Services ...,3026,CHINAETF-MYR
freq,2016,14210,72,36

In [7]:
#Count Unique value in all dataset columns
df.nunique()

Date                36
Sector_Number       20
Sector_Name         20
Stock_Code        2075
Stock_Name        2077
Ref               1417
Open              1407
Last              1402
Change             276
Change_%          2975
Volume           19232
dtype: int64

In [8]:
df['Sector_Number'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20], dtype=int64)

In [9]:
df['Sector_Name'].unique()

array(['Bursa Malaysia Bond Islamic  Stocks',
       'Bursa Malaysia Closed End Fund  Stocks',
       'Bursa Malaysia Construction  Stocks',
       'Bursa Malaysia Consumer Products & Services  Stocks',
       'Bursa Malaysia Energy  Stocks',
       'Bursa Malaysia Exchange Traded Fund-bond  Stocks',
       'Bursa Malaysia Exchange Traded Fund-commodity  Stocks',
       'Bursa Malaysia Exchange Traded Fund-equity  Stocks',
       'Bursa Malaysia Financial Services  Stocks',
       'Bursa Malaysia Health Care  Stocks',
       'Bursa Malaysia Industrial Products & Services  Stocks',
       'Bursa Malaysia Plantation  Stocks',
       'Bursa Malaysia Property  Stocks',
       'Bursa Malaysia Real Estate Investment Trusts  Stocks',
       'Bursa Malaysia Special Purpose Acquisition Company  Stocks',
       'Bursa Malaysia Structured Warrants  Stocks',
       'Bursa Malaysia Technology  Stocks',
       'Bursa Malaysia Telecommunications & Media  Stocks',
       'Bursa Malaysia Transportation & Logistics  Stocks',
       'Bursa Malaysia Utilities  Stocks'], dtype=object)

In [10]:
df['Stock_Code'].unique()

array(['0400GA', '0400GC', '0400GB', ..., '06509G', '318285', '16661'],
      dtype=object)

In [11]:
df['Stock_Name'].unique()

array(['DIN040000223', 'DIN042300721', 'DIN045801028', ..., 'FBMKLCI-C9G',
       'GENTINGC85', 'INARI-C61'], dtype=object)

## 2. Data Cleaning

### 2.1 Check for missing values

In [12]:
# check on the missing value
df.isnull().sum() 
# Output shows there is no missing value in the data

Date             0
Sector_Number    0
Sector_Name      0
Stock_Code       0
Stock_Name       0
Ref              0
Open             0
Last             0
Change           0
Change_%         0
Volume           0
dtype: int64

In [13]:
# check on the missing value
df.notnull().head()

,Date,Sector_Number,Sector_Name,Stock_Code,Stock_Name,Ref,Open,Last,Change,Change_%,Volume
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True